<div class='row mt-5'>
  <div class='col-sm-12'>
    <h1 class='display-4 text-center'>Listing Details</h1>
  </div>
</div>

<div class='row mt-2'>
  <div class='col-sm-12 col-lg-7'>
    <div class="card text-center border border-secondary rounded">
      <div class="card-header">Location Information</div>
      <div class="card-body">
        <h5 class='card-title'><u>Address</u></h5>
        <h6 class='card-text'>{{listing.street}}</h6>
        <h6 class='card-text'>{{listing.city}}, {{listing.state}} {{listing.zip}}</h6>
        <p class='card-text mt-2 mb-1'><strong><u>Details</u></strong></p>
        <p class='card-text mb-0'>{{listing.type}}</p>
        <p class='card-text mb-0'>{{listing.description}}</p>
        <p class='card-text mb-0'><em><strong>Available:</strong></em> {{listing.from}} - {{listing.to}}</p>
        <p class='card-text mb-0'><em><strong>Price:</strong></em> ${{listing.price}}</p>
        <p class='card-text mt-2 mb-1'><strong><u>Contact Information</u></strong></p>
        <p class='card-text'><i class="fas fa-at"></i> {{listing.email}} <i class="fas fa-phone"></i> {{listing.phone}}
        </p>
      </div>
    </div>
  </div>
  <div class='col-sm-12 col-lg-5'>
    <div class='card text-center border border-secondary rounded'>
      <div class='card-header'>Location Map</div>
      <div class='card-body'>
        <div class='embed-responsive embed-responsive-1by1'>
          <iframe
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCwZYwjwh0O8Vl3WE7ad67Fya6isfXnQk4&{{listing.map}}"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row mt-5'>
  <div class='col-sm-12 text-center'>
    <a href='/search' class='btn btn-outline-danger'><i class="fas fa-long-arrow-alt-left"></i> Back to Listings</a>
  </div>
</div>