<div class='row mt-5'>
  <div class='col-sm-12'>
    <div class='card mt-5'>
      <div class='card-header text-center'>
        <h4>Available Listings</h4>
      </div>
      <div class='card-body'>
        <ul class='list-group list-group-flush'>
          {{#each Listing}}
            <li class="list-group-item">
              {{this.street}}
              <a href="listing/{{this.id}}" class='btn btn-outline-secondary btn-sm listing-view' data-id='{{this.id}}'><i
                class="fas fa-search-location"></i></a>
              <!--<button type='button' class='btn-btn-outline-secondary view-listing' data-id='{{this.id}}'><i class="fas fa-search-location"></i></button>-->
            </li>
          {{/each}}
        </ul>
        <!--<div class="accordion" id="listingAccordion">
        {{#each Listing}}
          <div class="card">
            <div class="card-header" id="heading{{this.id}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapse{{this.id}}">
                  {{this.street}}
                </button>
              </h5>
            </div>

            <div id="collapse{{this.id}}" class="collapse" aria-labelledby="heading{{this.id}}"
                 data-parent="#listingAccordion">
              <div class="card-body">
                <h5 class='card-title'>{{this.name}}</h5>
                <h6 class='card-subtitle mb-2 text-muted'>{{this.email}} | {{this.phone}}</h6>
                <p class='card-text'><strong><u>Address</u></strong></p>
                <p class='card-text'>{{this.street}} {{this.city}}, {{this.state}} {{this.zip}}</p>
                <p class='card-text'><strong><u>Details</u></strong></p>
                <p class='card-text'>{{this.description}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>-->
      </div>
    </div>
  </div>
</div>
<div class='row mt-5'>
  <div class='col-sm-12 text-center'>
    <a href='/' class='btn btn-outline-danger'><i class="fas fa-long-arrow-alt-left"></i> Back to Home</a>
  </div>
</div>